
:root {
    --fill: #2a2a2a;
    --fill-active: #2a2a2ab1;
    --stroke: #333333;
}

:link { color: #0077ff; }
:visited { color: #8400ff; }

button:active {
    background: var(--fill-active);
}
button:hover {
    border-color: #505050;
}


.button {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid var(--stroke);
    box-shadow: none;
    font-weight: 500;
    cursor: pointer;
    background: var(--fill);
    color: snow;
    transition: 0.1s ease-in-out background;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}
body {
    background-color: black;
}

.withtheoutline {
    border: 0.2em solid #333333;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-right: 15px;
    border-radius: 10px;
}


.flex {
    display: flex;
}

.flex.center {
    align-items: center;
    justify-content: center;
    gap: 3em;
}

#counter {
    font-size: x-large;
    padding-bottom: 0.05em;
}

.inline {
    display: inline;
}

#timer {
  position: fixed;
  bottom: 0;
  left: 0;
}
